<%+header%>
<%+creator_onboarding/creator_include%>
<div class="bootstrap-isolation">

<div id="onboarding-box">
    <div id="onboarding-box-top">
        <img src="/luci-static/resources/creator/gfx/ci40.jpg" width="160" />
        <img src="/luci-static/resources/creator/gfx/animatedline_left.gif" />
        <img src="/luci-static/resources/creator/gfx/exclamation.svg" />
        <img src="/luci-static/resources/creator/gfx/animatedline_right.gif" />
        <img src="/luci-static/resources/creator/gfx/device_server.svg" id="device-server-img"/>
        <p class="red-alert" id="not-connected-alert">NOT CONNECTED!</p>
        <p id="device-server">Device Server</p>
    </div>
    <div class="row">
        <p class="text-center">
            This Ci40 has not yet completed the onboarding process
        </p>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a class="btn btn-creator" href='<%= luci.dispatcher.build_url("admin", "creator", "onboarding", "idp_login")%>'>Start OnBoarding process</a>
        </div>
    </div>
</div>



<%+creator_onboarding/alert_modal%>
</div>
<%+footer%>

<script>

function unprovision() {
    $.post('<%= luci.dispatcher.build_url("admin", "creator", "onboarding", "unprovision")%>', function(data) {

    })
    .fail(function(jqXHR, textStatus, errorThrown) {
        showErrorModal(errorThrown);
    })
    .done(function() {
        location.reload();
    });
}

</script>
